<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tqmall.monkey.dal.mapper.commodity.CommodityGoodsCarDOMapper" >
  <resultMap id="BaseResultMap" type="com.tqmall.monkey.domain.entity.commodity.CommodityGoodsCarDO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="goods_uuId" property="goodsUuId" jdbcType="VARCHAR" />
    <result column="liyang_Id" property="liyangId" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="creator" property="creator" jdbcType="INTEGER" />
    <result column="modifier" property="modifier" jdbcType="INTEGER" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="isdelete" property="isdelete" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, goods_uuId, liyang_Id,status, creator, modifier, gmt_modified, gmt_create,
    isdelete
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from db_monkey_commodity_goods_car
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from db_monkey_commodity_goods_car
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tqmall.monkey.domain.entity.commodity.CommodityGoodsCarDO" >
    insert into db_monkey_commodity_goods_car (id, goods_uuId, liyang_Id, status
      creator, modifier, gmt_modified, 
      gmt_create, isdelete)
    values (#{id,jdbcType=INTEGER}, #{goodsUuId,jdbcType=VARCHAR}, #{liyangId,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},
      #{creator,jdbcType=INTEGER}, #{modifier,jdbcType=INTEGER}, #{gmtModified,jdbcType=TIMESTAMP},
      #{gmtCreate,jdbcType=TIMESTAMP}, #{isdelete,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.tqmall.monkey.domain.entity.commodity.CommodityGoodsCarDO" >
    insert into db_monkey_commodity_goods_car
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="goodsUuId != null" >
        goods_uuId,
      </if>
      <if test="liyangId != null" >
        liyang_Id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
        gmt_modified,
        gmt_create,
      <if test="isdelete != null" >
        isdelete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="goodsUuId != null" >
        #{goodsUuId,jdbcType=VARCHAR},
      </if>
      <if test="liyangId != null" >
        #{liyangId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=INTEGER},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=INTEGER},
      </if>
      now(),
      now(),
      <if test="isdelete != null" >
        #{isdelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tqmall.monkey.domain.entity.commodity.CommodityGoodsCarDO" >
    update db_monkey_commodity_goods_car
    <set >
      <if test="goodsUuId != null" >
        goods_uuId = #{goodsUuId,jdbcType=VARCHAR},
      </if>
      <if test="liyangId != null" >
        liyang_Id = #{liyangId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=INTEGER},
      </if>
        gmt_modified = now(),
      <if test="isdelete != null" >
        isdelete = #{isdelete,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tqmall.monkey.domain.entity.commodity.CommodityGoodsCarDO" >
    update db_monkey_commodity_goods_car
    set goods_uuId = #{goodsUuId,jdbcType=VARCHAR},
      liyang_Id = #{liyangId,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      creator = #{creator,jdbcType=INTEGER},
      modifier = #{modifier,jdbcType=INTEGER},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      isdelete = #{isdelete,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--批量插入关系-->
  <insert id="insertBatch" >
    insert IGNORE into db_monkey_commodity_goods_car ( goods_uuId, liyang_Id,status,  creator,
    modifier, gmt_modified, gmt_create
    )
    values
    <foreach collection="list" item="item" index="index" open="" separator=","  close="">
      (  #{item.goodsUuId,jdbcType=VARCHAR}, #{item.liyangId,jdbcType=VARCHAR}, #{item.status,jdbcType=INTEGER},#{item.creator,jdbcType=INTEGER},
      #{item.modifier,jdbcType=INTEGER}, now(),now())
    </foreach>
  </insert>

  <!--批量更新。以商品编码-->
  <update id="updateBatchGoodsUuId" parameterType="map" >
    update db_monkey_commodity_goods_car
    <set >
      <if test="liyangId != null" >
        liyang_Id = #{liyangId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=INTEGER},
      </if>
        gmt_modified = now(),
      <if test="isdelete != null" >
        isdelete = #{isdelete,jdbcType=INTEGER},
      </if>
    </set>
    where goods_uuId in
    <foreach collection="list" item="item" index="index" open="(" separator=","  close=")">
      #{item,jdbcType=VARCHAR}
    </foreach>

  </update>
  <!--批量更新。以liyang code-->
  <update id="updateBatchLiyang" parameterType="map" >
    update db_monkey_commodity_goods_car
    <set >
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=INTEGER},
      </if>
        gmt_modified = now(),
      <if test="isdelete != null" >
        isdelete = #{isdelete,jdbcType=INTEGER},
      </if>
    </set>
    where liyang_Id in
    <foreach collection="list" item="item" index="index" open="(" separator=","  close=")">
      #{item,jdbcType=VARCHAR}
    </foreach>

  </update>

  <!--批量更新。以id-->
  <update id="updateBatchIds" parameterType="map" >
    update db_monkey_commodity_goods_car
    <set >
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=INTEGER},
      </if>
        gmt_modified = now(),
      <if test="isdelete != null" >
        isdelete = #{isdelete,jdbcType=INTEGER},
      </if>
    </set>
    where id in
    <foreach collection="list" item="item" index="index" open="(" separator=","  close=")">
      #{item,jdbcType=INTEGER}
    </foreach>

  </update>



  <select id="getListByGoodsUuIdStatusWithDelete" resultMap="BaseResultMap" parameterType="hashmap" >
    select
    <include refid="Base_Column_List" />
    from db_monkey_commodity_goods_car
    where
    1=1
    <if test="isdelete != null" >
      and isdelete = #{isdelete,jdbcType=INTEGER}
    </if>
    <if test="goodsUuId != null" >
      and goods_uuId = #{goodsUuId,jdbcType=VARCHAR}
    </if>
    <if test="status != null" >
      and status = #{status,jdbcType=INTEGER}
    </if>
    order by liyang_Id
  </select>

  <select id="selectCarByUuId" resultMap="BaseResultMap" parameterType="hashmap" >
    select
    <include refid="Base_Column_List" />
    from db_monkey_commodity_goods_car
    where isdelete = 0
    <if test="goodsUuId != null" >
      and goods_uuId = #{goodsUuId,jdbcType=VARCHAR}
    </if>
    <if test="liyangId != null" >
      and liyang_Id like #{liyangId,jdbcType=VARCHAR}
    </if>
    order by liyang_Id
  </select>

  <select id="selectCarByUuIdCount" resultType="java.lang.Integer" parameterType="hashmap" >
    select COUNT(1)
    from db_monkey_commodity_goods_car
    where isdelete = 0
    <if test="goodsUuId != null" >
      and goods_uuId = #{goodsUuId,jdbcType=VARCHAR}
    </if>

    <if test="liyangId != null" >
      and liyang_Id like #{liyangId,jdbcType=VARCHAR}
    </if>
  </select>

  <select id="selectAllLiyangByStatus" resultType="java.lang.String"  parameterType="hashmap">
    select liyang_Id
    from db_monkey_commodity_goods_car
    where isdelete = 0
    <if test="status != null" >
      AND status = #{status,jdbcType=INTEGER}
    </if>

    AND
    goods_uuId in
    <foreach collection="uuIdList" item="item" index="index" open="(" separator=","  close=") ">
      #{item,jdbcType=VARCHAR}
    </foreach>
    group by liyang_Id
  </select>


  <select id="selectGoodsByGBrandGPart" resultType="com.tqmall.monkey.domain.entity.commodity.CommodityGoodsCarDO" parameterType="hashmap" >
    select dmcgc.liyang_Id as liyangId,dmcgc.goods_uuId as goodsUuId
    from db_monkey_commodity_goods_car dmcgc,db_monkey_commodity_goods dmcg
    where dmcgc.isdelete = 0 and
    dmcg.isdelete = 0 AND
    <if test="brandId != null" >
      dmcg.brand_id = #{brandId,jdbcType=INTEGER} AND
    </if>
    <if test="partId != null" >
      dmcg.part_id = #{partId,jdbcType=INTEGER} AND
    </if>

    dmcg.uuId = dmcgc.goods_uuId

    ORDER BY dmcgc.goods_uuId

  </select>


  <select id="selectByUuIdLiyangWithoutDelete" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from db_monkey_commodity_goods_car
    where 1 = 1
    <if test="goodsUuId != null" >
      and goods_uuId = #{goodsUuId,jdbcType=VARCHAR}
    </if>
    <if test="liyangId != null" >
      and liyang_Id = #{liyangId,jdbcType=VARCHAR}
    </if>
    limit 1
  </select>

</mapper>