<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tqmall.monkey.dal.mapper.carMaintain.CarMaintainPlanDOMapper" >
  <resultMap id="BaseResultMap" type="com.tqmall.monkey.domain.entity.carMaintain.CarMaintainPlanDO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="l_id" property="l_id" jdbcType="VARCHAR" />
    <result column="maintain_plan_id" property="maintainPlanId" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, l_id, maintain_plan_id, is_deleted, gmt_create, gmt_modified
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from db_car_maintain_plan
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from db_car_maintain_plan
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tqmall.monkey.domain.entity.carMaintain.CarMaintainPlanDO" >
    insert IGNORE into db_car_maintain_plan (id, l_id, maintain_plan_id,
      is_deleted, gmt_create, gmt_modified
      )
    values (#{id,jdbcType=INTEGER}, #{l_id,jdbcType=VARCHAR}, #{maintainPlanId,jdbcType=INTEGER},
      #{isDeleted,jdbcType=BIT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tqmall.monkey.domain.entity.carMaintain.CarMaintainPlanDO" >
    insert IGNORE into db_car_maintain_plan
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="l_id != null" >
        l_id,
      </if>
      <if test="maintainPlanId != null" >
        maintain_plan_id,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="l_id != null" >
        #{l_id,jdbcType=VARCHAR},
      </if>
      <if test="maintainPlanId != null" >
        #{maintainPlanId,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tqmall.monkey.domain.entity.carMaintain.CarMaintainPlanDO" >
    update db_car_maintain_plan
    <set >
      <if test="l_id != null" >
        l_id = #{l_id,jdbcType=VARCHAR},
      </if>
      <if test="maintainPlanId != null" >
        maintain_plan_id = #{maintainPlanId,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
        gmt_modified = now(),
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tqmall.monkey.domain.entity.carMaintain.CarMaintainPlanDO" >
    update db_car_maintain_plan
    set l_id = #{l_id,jdbcType=VARCHAR},
      maintain_plan_id = #{maintainPlanId,jdbcType=INTEGER},
      is_deleted = #{isDeleted,jdbcType=BIT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <insert id="insertMaintainPlanBatch" >
    insert IGNORE into db_car_maintain_plan(
      l_id, maintain_plan_id, gmt_create )
    values
    <foreach collection="list" item="item" index="index" open="" separator=","  close="">
      (#{item.l_id,jdbcType=VARCHAR}, #{item.maintainPlanId,jdbcType=INTEGER}, now())
    </foreach>
  </insert>

  <update id="deleteCarMaintainPlanLogic" parameterType="com.tqmall.monkey.domain.entity.carMaintain.CarMaintainPlanDO" >
    update db_car_maintain_plan
    set is_deleted = 1,
    gmt_modified = now()
    where l_id = #{l_id,jdbcType=VARCHAR}
    and maintain_plan_id = #{maintainPlanId,jdbcType=INTEGER}
  </update>
  <delete id="deleteCarMaintainPlan" parameterType="com.tqmall.monkey.domain.entity.carMaintain.CarMaintainPlanDO">
    delete from db_car_maintain_plan
    where l_id = #{l_id,jdbcType=VARCHAR}
    and maintain_plan_id = #{maintainPlanId,jdbcType=INTEGER}
  </delete>

  <select id="checkCarPlanExsit" resultType="int" parameterType="com.tqmall.monkey.domain.entity.carMaintain.CarMaintainPlanDO" >
    select count(id)
    from db_car_maintain_plan
    where l_id = #{l_id}
    and maintain_plan_id = #{maintainPlanId}
    <if test="isDeleted != null" >
      and is_deleted = #{isDeleted}
    </if>
  </select>

</mapper>