*{
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
ul,li{
  list-style:none;
  margin:0;
  padding:0
}
body{
  font-size:16px 
}
p{margin:0;padding:0}
.tq_app_header{
  position:relative; 
  width:100%;
  padding:12px 0;
  background:#3c4e64;
  color:#fff;
  font:bold 15px \5FAE\8F6F\96C5\9ED1;
  text-align:center
}
.tq_app_header .btn-info{
	position:absolute;
	top:10px;
	right:10px
}
/*.tq_app_header span{
  padding-left:40px;
  background:url(../img/tx.png) no-repeat 0;
  background-size:25px 25px 
}*/
.tq_app_header .back{
  position:absolute;
  top:12px;
  left:10px;
  width:12px;
  height:20px;
  background-image:url(../img/back.png);
  background-size:12px 20px
}
