<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tqmall.monkey.dal.mapper.staffPer.StaffPerDailyDOMapper" >
  <resultMap id="BaseResultMap" type="com.tqmall.monkey.domain.entity.staffPer.StaffPerDailyDO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="is_deleted" property="isDeleted" jdbcType="VARCHAR" />
    <result column="staff_id" property="staffId" jdbcType="INTEGER" />
    <result column="time_year_month" property="timeYearMonth" jdbcType="VARCHAR" />
    <result column="time_day" property="timeDay" jdbcType="VARCHAR" />
    <result column="percent_of_day" property="percentOfDay" jdbcType="REAL" />
    <result column="total_num" property="totalNum" jdbcType="INTEGER" />
    <result column="error_num" property="errorNum" jdbcType="INTEGER" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="car_type" property="carType" jdbcType="VARCHAR" />
    <result column="car_type_name" property="carTypeName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, gmt_create, gmt_modified, is_deleted, staff_id, time_year_month, time_day, percent_of_day, 
    total_num, error_num, remarks, car_type, car_type_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from db_per_daily
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from db_per_daily
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tqmall.monkey.domain.entity.staffPer.StaffPerDailyDO" >
    insert into db_per_daily (id, gmt_create, gmt_modified, 
      is_deleted, staff_id, time_year_month, 
      time_day, percent_of_day, total_num, 
      error_num, remarks, car_type, 
      car_type_name)
    values (#{id,jdbcType=INTEGER}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{isDeleted,jdbcType=VARCHAR}, #{staffId,jdbcType=INTEGER}, #{timeYearMonth,jdbcType=VARCHAR}, 
      #{timeDay,jdbcType=VARCHAR}, #{percentOfDay,jdbcType=REAL}, #{totalNum,jdbcType=INTEGER}, 
      #{errorNum,jdbcType=INTEGER}, #{remarks,jdbcType=VARCHAR}, #{carType,jdbcType=VARCHAR}, 
      #{carTypeName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tqmall.monkey.domain.entity.staffPer.StaffPerDailyDO" >
    insert into db_per_daily
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="staffId != null" >
        staff_id,
      </if>
      <if test="timeYearMonth != null" >
        time_year_month,
      </if>
      <if test="timeDay != null" >
        time_day,
      </if>
      <if test="percentOfDay != null" >
        percent_of_day,
      </if>
      <if test="totalNum != null" >
        total_num,
      </if>
      <if test="errorNum != null" >
        error_num,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="carType != null" >
        car_type,
      </if>
      <if test="carTypeName != null" >
        car_type_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=VARCHAR},
      </if>
      <if test="staffId != null" >
        #{staffId,jdbcType=INTEGER},
      </if>
      <if test="timeYearMonth != null" >
        #{timeYearMonth,jdbcType=VARCHAR},
      </if>
      <if test="timeDay != null" >
        #{timeDay,jdbcType=VARCHAR},
      </if>
      <if test="percentOfDay != null" >
        #{percentOfDay,jdbcType=REAL},
      </if>
      <if test="totalNum != null" >
        #{totalNum,jdbcType=INTEGER},
      </if>
      <if test="errorNum != null" >
        #{errorNum,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="carType != null" >
        #{carType,jdbcType=VARCHAR},
      </if>
      <if test="carTypeName != null" >
        #{carTypeName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tqmall.monkey.domain.entity.staffPer.StaffPerDailyDO" >
    update db_per_daily
    <set >
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=VARCHAR},
      </if>
      <if test="staffId != null" >
        staff_id = #{staffId,jdbcType=INTEGER},
      </if>
      <if test="timeYearMonth != null" >
        time_year_month = #{timeYearMonth,jdbcType=VARCHAR},
      </if>
      <if test="timeDay != null" >
        time_day = #{timeDay,jdbcType=VARCHAR},
      </if>
      <if test="percentOfDay != null" >
        percent_of_day = #{percentOfDay,jdbcType=REAL},
      </if>
      <if test="totalNum != null" >
        total_num = #{totalNum,jdbcType=INTEGER},
      </if>
      <if test="errorNum != null" >
        error_num = #{errorNum,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="carType != null" >
        car_type = #{carType,jdbcType=VARCHAR},
      </if>
      <if test="carTypeName != null" >
        car_type_name = #{carTypeName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tqmall.monkey.domain.entity.staffPer.StaffPerDailyDO" >
    update db_per_daily
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=VARCHAR},
      staff_id = #{staffId,jdbcType=INTEGER},
      time_year_month = #{timeYearMonth,jdbcType=VARCHAR},
      time_day = #{timeDay,jdbcType=VARCHAR},
      percent_of_day = #{percentOfDay,jdbcType=REAL},
      total_num = #{totalNum,jdbcType=INTEGER},
      error_num = #{errorNum,jdbcType=INTEGER},
      remarks = #{remarks,jdbcType=VARCHAR},
      car_type = #{carType,jdbcType=VARCHAR},
      car_type_name = #{carTypeName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--自己业务-->
  <select id="select" resultMap="BaseResultMap" parameterType="com.tqmall.monkey.domain.entity.staffPer.StaffPerDailyDO" >
    select
    <include refid="Base_Column_List" />
    from db_per_daily
    <where>
      is_deleted = 'N'
      <if test="staffId != null">
        and staff_id = #{staffId,jdbcType=INTEGER}
      </if>
      <if test="timeYearMonth != null">
        and time_year_month = #{timeYearMonth,jdbcType=VARCHAR}
      </if>
      <if test="timeDay != null">
        and time_day = #{timeDay,jdbcType=VARCHAR}
      </if>
      <if test="staffId != null">
        and staff_id = #{staffId,jdbcType=INTEGER}
      </if>
      order by time_day
    </where>
  </select>
</mapper>