<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tqmall.monkey.dal.mapper.part.PartLiyangTableDOMapper" >
  <resultMap id="BaseResultMap" type="com.tqmall.monkey.domain.entity.part.PartLiyangTableDO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="creator" property="creator" jdbcType="INTEGER" />
    <result column="modifier" property="modifier" jdbcType="INTEGER" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="car_brand_name" property="carBrandName" jdbcType="VARCHAR" />
    <result column="liyang_table" property="liyangTable" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, creator, modifier, gmt_modified, gmt_create, car_brand_name, liyang_table
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from db_monkey_part_liyang_table_relation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from db_monkey_part_liyang_table_relation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.tqmall.monkey.domain.entity.part.PartLiyangTableDO" >
    insert into db_monkey_part_liyang_table_relation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="carBrandName != null" >
        car_brand_name,
      </if>
      <if test="liyangTable != null" >
        liyang_table,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=INTEGER},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=INTEGER},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="carBrandName != null" >
        #{carBrandName,jdbcType=VARCHAR},
      </if>
      <if test="liyangTable != null" >
        #{liyangTable,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tqmall.monkey.domain.entity.part.PartLiyangTableDO" >
    update db_monkey_part_liyang_table_relation
    <set >
      <if test="creator != null" >
        creator = #{creator,jdbcType=INTEGER},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=INTEGER},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="carBrandName != null" >
        car_brand_name = #{carBrandName,jdbcType=VARCHAR},
      </if>
      <if test="liyangTable != null" >
        liyang_table = #{liyangTable,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="selectByBrandName" resultType="java.lang.String"  >
    select liyang_table
    from db_monkey_part_liyang_table_relation
    where car_brand_name = #{carBrandName,jdbcType=VARCHAR}
  </select>
</mapper>